.education {
    width: 100%;
    font-style: normal;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.education__container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    line-height: 1.6;
}

@media screen and (min-width: 996px) and (max-width: 1199px) {
    .education__container {
        max-width: 940px;
    }
}

@media screen and (max-width: 995px) {
    .education__container {
        max-width: 710px;
        flex-direction: column;
        padding: 0 15px;
        margin-bottom: 20px;
    }
}